.panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 36px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.4s ease-in;
    border-radius: 4px;
    align-items: center;
}

.panel-dark {
    box-shadow: none;
    background-color: #33333D;
}

.panel-form {
    flex: 0
}