
.form{
    display: flex;
    flex-direction: column;
    /* max-width: 20vw; */
    /* align-items: center; */
}

.fileContainer{
    box-shadow: none;
    border: dashed;
    padding: 10px;
    margin: 0px;
}

.fileContainer > p {
    display: none;
}

.fileContainer .chooseFileButton{
    border-radius: 4px;
}

.image-uploader {
    padding-bottom: 40px;
}
.radio-group {
    padding: 10px;
    padding-bottom: 40px;
}
