

.header {
    display: flex;
    background-color: white;
    color: white;
    padding: 24px 80px 24px 80px;
    justify-content: flex-end;
    align-items: center;
    font-size: larger;
    transition: all 0.3s ease-in;
    /* background-color: #27272e; */
    background-color: #8499B1;
}


.header-dark {
    /* background-color: #27272E; */
    background-color: #087E8B;
    color: white;
} 

.theme-img{
    width: 20px;
    height: 20px;
}