

.header {
    display: flex;
    background-color: white;
    color: white;
    padding: 24px 80px 24px 80px;
    justify-content: flex-end;
    align-items: center;
    font-size: larger;
    transition: all 0.3s ease-in;
}

.header-dark {
    background-color: #27272E;
    color: white;
}

.theme-img{
    width: 20px;
    height: 20px;
}