
/* colors
purple: 301B3F
black: 1F1F1F
accent: #3C415C
white: #ECE9E9

accent-blue: 00ADB5
accent-purple: 834C69

*/


body {
    background-color:#222831;;
    color: #ECE9E9;
    max-width: 100% !important;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}


.body {
    display: flex;
    flex-direction: row;
    padding: 15px;
    flex: 1;
}


.control_panel {
    min-width: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: #ECE9E9;
}

.image_panel {
    display: flex;
    align-items: flex-start;
}

.output_panel {
    flex: auto;
    min-width: 20%;
}

.dropdown {
    color: black;
    margin-bottom: 50px;
}

.radio {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

a {
    font-weight: bold;
    cursor: pointer;
}
a:hover {
    color: #3C415C; 
}

.image {
    height: 300px;
    width: 500px;
    margin: 20px;
}

.button {

}