
/* colors
purple: 301B3F
black: 1F1F1F
accent: #3C415C
white: #ECE9E9

accent-blue: 00ADB5
accent-purple: 834C69

*/


body {
    background-color:#222831;;
    color: #ECE9E9;
    width: 100%;
    height: 100vh;
    max-width: 100% !important;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    padding: 15px;
}


.control_panel {
    background-color: #393E46;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    width: 20%;
}

.dropdown {
    color: black;
    margin-bottom: 50px;
}

.radio {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.uploader {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #6F495C;
}

a {
    font-weight: bold;
    cursor: pointer;
}
a:hover {
    color: #3C415C; 
}